/* Font config */

html {
    font-size: 14pt;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    margin-top: 0.25em;
    margin-bottom: 0.5em;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 2em;
}

p {
    line-height: 1.3em;
    margin-bottom: 0.5em;
}

code {
    font-family: monospace;
    font-size: 0.8em;
}

nav a {
    text-decoration: none;
}


/* Main Layout */

header {
    width: 100%;
}

#mainnav {
    position: absolute;
    top: 64px;
    right: 48px;
}

div.page {
    max-width: 960px;
    margin-left: 200px;
}

footer {
    padding: 48px 200px 48px 64px;
}


/* Top navigation */

#mainnav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end
    align-items: baseline;
    align-content: flex-start;
}

#mainnav ul > li a {
    margin-right: 24px;
}

#mainnav ul > li:last-child a {
    margin-right: 0;
}


/* Footer */

footer {
    background-color: #ddddff;
}
