.apidocs {
    padding-left: 0;

    ul.group {
        list-style-position: outside;
        padding: 12px 0 4px;
    }

    & > li {
        list-style-type: none;
    }

    ul.group > li {
        list-style-type: none;
    }

    header {
        padding: 0;
        display: flex;
        align-items: center;
        margin: 0 0 0.5em;
    }

    header h3 {
        margin: 0;
    }

    header span.type {
        margin-left: 8px;
        flex-grow: 1;
    }

    p {
        margin: 0;
        padding: 0;
    }

    .item {
        padding: 8px;
        border: 1px solid #ccc;
        border-bottom: 0;
        border-collapse: collapse;
    }

    li:first-of-type > .item {
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }

    li:last-of-type > .item {
        border-bottom: 1px solid #ccc;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
    }

    .tag {
        padding: 4px 5px;
        margin-left: 4px;
        border-radius: 4px;
        font-size: 0.7em;
        line-height: 1em;
    }

    .tag.required {
        color: white;
        background-color: #15A9DB;
    }

    .tag.nullable {
        color: white;
        background-color: #F44242;
    }

    h4 {
        margin-top: 8px;
    }

    summary + div {
        margin-top: 8px;
        padding-left: 8px;
    }
}
