@import "_variables";

.stuff-container {
    .stufflist {
        display: grid;
        grid-template-columns: repeat(3, [col] 1fr);
        grid-template-rows: repeat(1, [row] auto);
        grid-column-gap: 10px;
        grid-row-gap: 15px;

        @media (max-width: $width_responsive_mid) {
            grid-template-columns: repeat(2, [col] 1fr);
        }

        section {
            border: 1px solid #999;
            border-radius: 8px;
            padding: 8px;
            background-color: white;

            h3 {
                font-size: 1.5em;
                font-weight: bold;
                margin: 0 0 16px;
                padding: 0;
            }

            .category {
                display: inline-block;
                background-color: #42a5f5;
                border-radius: 4px;
                padding: 2px 6px;
                margin-top: 8px;
                color: white;
                font-size: 0.7em;
            }
        }
    }
}

.stuffdetail {
    img {
        max-width: 100%;
        max-height: 500px;
        margin-bottom: 24px;
    }
}
