{% macro render_project_list(projects) %}
<div class="projects">
  <div class="projectlist">
  {% for project in projects %}
    <section class="project">
      <h3><a href="{{ project|url }}">{{ project.title }}</a></h3>
      {{ project.description }}
      <p><em>By <a href="{{ project.author_url }}">{{ project.author }}</a>
        {% if project.author2 %}and <a href="{{ project.author2_url }}">{{ project.author2 }}</a>{% endif %}
        from <a href="{{ project.space_url }}">{{ project.space }}</a>.</em></p>
      <p class="category">Category: {{ project.category|join(', ') }}</p>
    </section>
  {% endfor %}
  </div>
</div>
{% endmacro %}

{% macro render_project_list_md(projects) %}
{% for project in projects %}
* [{{ project.title }}]({{ project|url }})
{% endfor %}
{% endmacro %}
