<div class="footerbackground">
  <div class="gridcontainer">
    <footer class="grid">
      <div class="leftcontainer">
        <img src="{{ '/static/images/spaceapi-logo.png' | url }}" class="logo" alt="SpaceAPI">
        <div id="reficons">
          <a href="https://twitter.com/space_api">
            <img src="{{ '/static/images/twitter.svg' | url }}" alt="Twitter">
          </a>
          <a href="https://github.com/SpaceApi">
            <img src="{{ '/static/images/github.svg' | url }}" alt="Github">
          </a>
          <a href="https://chaos.social/@spaceapi">
            <img src="{{ '/static/images/mastodon.svg' | url }}" alt="Mastodon">
          </a>
        </div>
      </div>
      <nav>
        <ul>
          <li>
            <a href="{{ '/' | url }}">
              Home
            </a>
          </li>
          <li>
            <a href="{{ '/' | url }}">
              Documentation
            </a>
          </li>
          <li>
            <a href="{{ '/' | url }}">
              Apps
            </a>
          </li>
          <li>
            <a href="{{ '/' | url }}">
              Validator
            </a>
          </li>
          <li>
            <a href="{{ '/' | url }}">
              Directory
            </a>
          </li>
        </ul>
      </nav>
    </footer>
  </div>
</div>
