<div class="footerbackground">
  <div class="gridcontainer">
    <footer class="grid">
      <div class="leftcontainer">
        <img src="{{ '/static/images/spaceapi-logo-230px.png' | url }}" class="logo" alt="SpaceAPI">
        <div id="reficons">
          <a href="https://github.com/SpaceApi">
            <img src="{{ '/static/images/github.svg' | url }}" alt="Github">
          </a>
          <a href="https://chaos.social/@spaceapi">
            <img src="{{ '/static/images/mastodon.svg' | url }}" alt="Mastodon">
          </a>
        </div>
      </div>
      <nav>
        <ul>
          <li>
            <a href="{{ '/' | url }}">
              What is it?
            </a>
          </li>
          <li>
            <a href="{{ '/how-to-use/' | url }}">
              How to use
            </a>
          </li>
          <li>
            <a href="{{ '/provide-an-endpoint/' | url }}">
              Provide an endpoint
            </a>
          </li>
          <li>
            <a href="{{ '/write-software/' | url }}">
              Write software
            </a>
          </li>
          <li>
            <a href="{{ '/spaceapi-history' | url }}">
              SpaceAPI history
            </a>
          </li>
        </ul>
      </nav>
    </footer>
  </div>
</div>
