<header id="header">
  <div class="logocontainer">
    <a href="/">
      <img src="{{ '/static/images/spaceapi-logo.png' | url }}" class="logo" alt="SpaceAPI">
    </a>
  </div>
  <nav>
    <ul>
      <li{% if this._path == '/' %} class="active"{% endif %}>
      <a href="{{ '/' | url }}">What is it?</a>
      </li>
      {% for href, title in [
      ['/how-to-use/', 'How to use'],
      ['/provide-an-endpoint/', 'How to provide an endpoint'],
      ['/write-software/', 'How to write software based on spaceapi'],
      ['/project-history', 'Project history'],
      ['https://github.com/SpaceApi', 'GitHub'],
      ] %}
      <li{% if this.is_child_of(href) %} class="active"{% endif %}>
      <a href="{% if href.startswith('http') %}{{ href }}{% else %}{{ href | url }}{% endif %}">{{ title }}</a>
      </li>
      {% endfor %}
    </ul>
  </nav>
  <div id="navbg">
  </div>
</header>
