<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="{{ '/static/gen/style.css' | asseturl }}">
    <script type=text/javascript src="{{ '/static/gen/app.js'| asseturl }}" charset="utf-8"></script>
    {# TODO: Download fonts instead of embedding #}
    <link href="https://fonts.googleapis.com/css?family=Lato:700|Montserrat&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ get_pygments_stylesheet()|url }}">

    <title>{% block title %}Welcome{% endblock %} — SpaceAPI</title>
  </head>
  <body>
  {% include 'header.html' %}
    <div class="gridcontainer pagecontainer">
      <div class="page">
        {% block body %}{% endblock %}
      </div>
    </div>
    {% include 'footer.html' %}
  </body>
  {% block scripts %}{% endblock %}
</html>
