{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
<div class="appdetail">
  <h2>
    {{ this.title }}
  </h2>
  <p>
    {{ this.description }}
  </p>

  {% if this.source_url %}
    <h3>
      Source Code
    </h3>
    <p>
      <ul>
        <li>
          <a href="{{ this.source_url }}">
            {{ this.source_label }}
          </a>
        </li>
      </ul>
    </p>
  {% endif %}

  {% if this.download1_url %}
    <h3>
      Download{% if this.download2_url %}s{% endif %}
    </h3>
    <p>
      <ul>
        <li>
          <a href="{{ this.download1_url }}">
            {{ this.download1_label }}
          </a>
        </li>
      </ul>
      {% if this.download2_url %}
      <ul>
        <li>
          <a href="{{ this.download2_url }}">
            {{ this.download2_label }}
          </a>
        </li>
      </ul>
      {% endif %}
    </p>
  {% endif %}

  <h3>
    Categories
  </h3>
  <p>
    <ul>
    {% for item in this.category %}
      <li>
        {{ item }}
      </li>
    {% endfor %}
    </ul>
  </p>

  <h3>
    Author{% if this.author2 %}s{% endif %}
  </h3>
  <p>
    This app was made by
    {% if this.author_url %}<a href="{{ this.author_url }}">{% endif %}
      {{ this.author }}
    {% if this.author_url %}</a>{% endif %}
    {% if this.author2 %}
      and
      {% if this.author2_url %}<a href="{{ this.author2_url }}">{% endif %}
          {{ this.author2 }}
      {% if this.author2_url %}</a>{% endif %}
    {% endif %}
    from
    <a href="{{ this.space_url }}">
      {{ this.space }}
    </a>.

    {% if this.attachments.images.count() %}
      <h3>
        Picture{% if this.attachments.images.count() > 1 %}s{% endif %} / Screenshot{% if this.attachments.images.count() > 1 %}s{% endif %}
      </h3>
      {% for image in this.attachments.images %}
        <img src="{{ image|url }}">
      {% endfor %}
    {% endif %}
  </p>
</div>
{% endblock %}
